{% extends "./base.html" %}

{% block content %}

<h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere sapiente dolorum fuga non esse saepe, autem ab
    omnis quibusdam ad numquam veritatis, architecto minus debitis accusantium, dicta provident? Aliquam, voluptate.
    Odit omnis corrupti aspernatur nam pariatur consequatur voluptatem voluptas incidunt quasi labore iusto debitis
    alias molestiae, sint suscipit expedita. Eos officiis delectus obcaecati vitae provident distinctio fuga commodi
    corrupti qui.
    Suscipit mollitia odio maxime, culpa ad ex nemo saepe, nostrum recusandae voluptatibus aliquid sequi delectus eos
    ratione error corrupti eaque tempore rerum repellat libero quasi, sint accusamus voluptate sunt. Quod.
    Explicabo eaque quae ad fuga iusto deserunt consectetur, cum atque facere repellendus repellat commodi, odio
    voluptates perspiciatis esse animi veritatis est consequuntur consequatur tempora maiores excepturi quaerat! Enim,
    earum reprehenderit.</h1>

{% endblock %}