{% extends "./base.html" %}

{% block content %}

<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum impedit eos nesciunt numquam natus facilis
    voluptate fuga vitae aliquid, sunt officiis magnam saepe ab perspiciatis, repudiandae, dignissimos earum ducimus
    neque.
    Aperiam corrupti soluta optio esse aspernatur cupiditate vel tempora, ad assumenda. Odit, ipsum. Nostrum consectetur
    recusandae quae alias necessitatibus libero deleniti, sint, eaque illum praesentium culpa distinctio fugit eos
    quaerat!
    Unde dicta beatae consequuntur neque, a dolor eum voluptate explicabo earum architecto ad quia deleniti sunt illo
    quaerat odit ipsam doloribus eaque voluptatum adipisci dolorum, exercitationem, placeat reprehenderit vitae. Minus.
    Iste eius architecto blanditiis doloribus optio quis aut, deleniti alias laboriosam provident facilis harum.
    Praesentium totam sunt eligendi! Molestias, corporis? Maxime quod obcaecati nostrum deserunt modi necessitatibus ab
    expedita alias!
    Minus velit provident voluptate aspernatur eveniet porro tempore quae sapiente officia ullam? Similique, assumenda
    asperiores accusamus ratione numquam harum eaque suscipit saepe ad? Expedita necessitatibus fugiat, sunt quo omnis
    aliquam?
    Magni, ex nisi sit natus ea reiciendis voluptatem architecto minima fuga in minus doloribus non voluptatibus dolores
    quas sed omnis fugiat obcaecati pariatur iste beatae doloremque? Amet quibusdam expedita corporis!</h1>

{% endblock %}